# Web Framework & Authentication
flask
flask-cors
flask-jwt-extended

# Database
supabase

# Machine Learning & Data Processing
tensorflow
keras
numpy
pandas
scikit-learn
matplotlib
seaborn
pillow  # For image handling

# Miscellaneous
gunicorn  # For running the Flask app in production
